@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}
body{
    min-height: 100vh;
}
:root {
    --main-color: rgb(0, 109, 0);
    --link-color: #ff9500;
    --title-color: #ff9500;
    --body-bg: #efefef;
    --text: #5a544b;
    --white: #fff;
    --black: #000;
}
#top-header {
    background-color:var(--main-color);
    height: 45px;
    line-height: 45px;
}
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
a{
    text-decoration: none;
    color: #ff9500;
}
#top-header .top-header-contact{
    /* text-align: center; */
    font-weight: bold;
}
@media only screen and (max-width:767px){
    .header-text-sm-hide {
        display: none;
    }
    #top-header-navbar .navbar-nav .nav-item .nav-link{
        text-align: center;
    }
}
#top-header .top-header-social-icon a{
    border: 1px solid  var(--link-color);
    margin: 5px 8px;
    border-radius: 10px;
    padding: 5px 7px;
}
#top-header .top-header-social-icon a:hover{
    background-color: var(--link-color);
    color: var(--white);
}
#top-header-navbar .navbar-brand img{
   width: 94px;

}
#top-header-navbar .navbar-brand{
  padding: 0;
}
#top-header-navbar .navbar {
    padding: 0;
}
#top-header-navbar .navbar-nav .nav-item .nav-link{
    font-weight: bold;
    padding:35px 30px;
    transition: 1s;
    color: var(--link-color);
    
}
#top-header-navbar .navbar-nav .nav-item .nav-link.active{
    background-color: var(--main-color);
    border-bottom: 5px solid  var(--link-color) ;
}
#top-header-navbar .navbar-nav .nav-item .nav-link:hover{
    background-color: var(--main-color);
    border-bottom: 5px solid  var(--link-color);
}
#top-header-navbar .navbar-nav .dropdown .dropdown-menu{
    padding: 0px;
    border: none;   
    border-radius: 0;
    background-color: var(--title-color);
}
#top-header-navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    /* color: beige; */
}
#top-header-navbar
    .navbar
    .navbar-nav
    .dropdown
    .dropdown-menu
    .dropdown-item:hover {
    background-color: #c67709;
    color:#fff;
}
/* navbar sections ends here */
/* about section starts here */
.about-top{
    text-align: center;
    margin-top: 100px;
}
.about-top .border-bottom{
    border: 5px solid var(--main-color);
    margin: 10px 667px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.about-top h1{
    font-size: 45px;
    font-weight: bold;
    
}

.about-top h1 span{
    color: var(--main-color);
}
.medium{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.medium .medium-image img{
    width: 100%;
}
.medium .medium-content{
 margin-left: 40px;
 padding: 10px 48px;
}
.medium .medium-content h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;

}
.medium .medium-content p{
    font-size: 20px;
}
.bottom-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 75px;

}
.bottom-content .box{
    /* border: 2px solid black; */
    margin: 0px 25px;
    margin-bottom: 50px;
    padding: 30px 27px;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;
    background-color: var(--body-bg);
}
.bottom-content .box h3{
    font-size: 35px;
    margin-bottom: 15px;
}
.bottom-content .box p{
    font-size: 20px;
}
.choose{
    text-align: center;
    margin-bottom: 20px;
}
.choose ul h2{
    font-size: 30px;
    font-weight: bold;
}
.choose ul h2 span{
    color: var(--main-color);
}
.choose li{
    text-align: left;
    margin-left: 100px;
    font-size: 20px;
}
/* about section ends here */

/* footer section starts here */
#footer-box{
    background-color:#373737;
}
#footer-box .footer{
    /* margin-left: 50px; */
    padding: 40px 200px;
    color: #fff;

}
#footer-box .footer h2{
    font-weight: bold;
    font-size: 28x;
}
#footer-box .footer h3{
    font-weight: bold;
    font-size: 20px;
}
#footer-box .footer .foot-last{
    text-align: center;
}
@media only screen and (max-width:768px){
    #footer-box .footer{
        padding-left: 20px;
    }
    #footer-box .footer .foot-last{
        text-align: left;
    }
}


/* footer section ends here */